html,
body,
main {
  height: 100%;
}
.el-form-item__label {
  color: #fff;
}
/* 侧边栏隐藏滚动条 */
.el-menu-vertical-demo {
  overflow: hidden;
}
.el-menu-item a {
  text-decoration: none;
  color: #fff;
  display: block;
}
/* 修改分页样式 */
.el-pagination {
  padding: 10px 0;
  background-color: #e9eef3;
}
/* 商品列表的thead */
.el-table thead tr {
  background-color: #eee;
}
[class^=el-icon-] {
  color: rgba(0, 0, 0, 0.3);
}
[class^=el-icon-].active {
  color: #000;
}
/* 开关的样式设置 */
.el-switch__label--right {
  margin-left: 0;
  margin-right: 10px;
}
/* 编辑页面样式 */
.el-form-item__label {
  color: #666;
}
a {
  text-decoration: none;
  color: #2a72c5;
}
